<% include ../partials/header %>

    <div class="row">
        <div class="col-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <a class="btn btn-link" href="/campgrounds/">Back to Campgrounds</a>
        </div>
        <div class="col-9">
            <div class="card">
                <img class="card-img-top" src="<%= campground.image %>">
                <div class="card-body">
                    <h5 class="card-title float-right">$<%= campground.price %>/night</h5>
                    <h5><a class="card-link" href=""><%= campground.name %></a></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p>
                        <em>Submitted by <%= campground.author.username %> </em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="bg-warning btn btn-sm text-white sm-btn" href="/campgrounds/<%= campground._id %>/edit">Update</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger sm-btn">Remove</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <br>
            <div class="card bg-light">
                <div class="card-body">
                    <div class="float-left">
                        <h4 class="card-title">Reviews</h4>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-sm btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Leave a Review!</a>
                    </div>
                    <hr>
                    <% campground.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="float-right">10 days ago</span>
                                <p><%= comment.text %></p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <a class="bg-warning btn btn-sm text-white sm-btn" 
                                    href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                    Edit
                                    </a>
                                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-sm btn-danger sm-btn" value="Delete">
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <br>

<% include ../partials/footer %>